main {
  grid-auto-columns: 95%;
}

.resources_links, .main_logo {
  display: none;
}

.logo_sign {
  display: block;
  margin: auto;
  height: 44px;
  width: 12px;

  img {
    height: 100%;
    width: 100%;
  }
}

.block_title {
  font-size: 24px;
}

.block_title {
  font-size: 24px;
}

.who_we_are {
  grid-column: 1;
  grid-row: 1;
}

.can {
  grid-column: 1;
  grid-row: 2;
}

.cannot {
  grid-column: 1;
  grid-row: 3;
}

.how {
  grid-column: 1;
  grid-row: 5;
}

.portfolio {
  grid-column: 1;
  grid-row: 4;
  padding-right: 20px;
}

.fast {
  grid-column: 1;
  grid-row: 6;
}

.need_mpv {
  grid-column: 1;
  grid-row: 7;
}

.fixed_price {
  grid-column: 1;
  grid-row: 8;
}

nav {
  width: 317px;
}

main {
  padding: 50px 30px;
  grid-row-gap: 40px;
  grid-auto-columns: 100%;

  & > * {
    padding: 30px;
    padding-bottom: 20px;
  }
}

.app_icon {
  height: 44px;
  width: 44px;
}

.project_descr {
  float: left;
  margin-left: 3%;
  font-family: Open Sans Reg, sans-serif;

  span {
    display: block;
    font-size:  14px;
    font-family: Open Sans Reg, sans-serif;
  }

  .project_name {
    font-family:  Gilroy SemiBold, sans-serif;
    font-size: 16px;
  }

  .read_more {
    font-size: 13px;
    padding: 3px 12px;
    width: 80px;
  }
}
