@font-face {
  font-family: Gilroy Reg;
  src: url("../fonts/gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-family: Gilroy SemiBold;
  src: url("../fonts/gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: Gilroy Bold;
  src: url("../fonts/gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Open Sans Reg;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open Sans SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
* {
  box-sizing: border-box;
  cursor: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Gilroy Reg, sans-serif;
  color: #203649;
}

h2 {
  font-family: "Gilroy Bold", sans-serif;
}

h3 {
  margin: 0;
  font-family: "Gilroy SemiBold", sans-serif;
}

p, span, a {
  font-family: "Open Sans Reg", sans-serif;
}

.flex-pattern, nav, footer, header {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100%;
  max-width: 1920px;
  padding: 50px;
  padding-bottom: 0;
  margin: 0 auto;
}

.main_logo {
  height: 40px;
}

.resources_links {
  display: flex;
  height: 30px;
}
.resources_links a:not(:first-child) {
  margin-left: 25px;
}

.main_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 1920px;
  padding: 50px;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 450px;
  grid-auto-columns: 22.393%;
  grid-row-gap: 50px;
  justify-content: space-between;
}
main > * {
  padding: 50px;
  padding-bottom: 40px;
  background-color: #F1F1F1;
}
main > *:not(.portfolio) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.who_we_are {
  grid-column: 1/span 2;
  grid-row: 1;
}
.who_we_are .block_title {
  font-size: 40px;
}

.can {
  grid-column: 3;
  grid-row: 1;
}

.cannot {
  grid-column: 4;
  grid-row: 1;
}

.how {
  grid-column: 1;
  grid-row: 2;
}

.portfolio {
  grid-column: 2/span 2;
  grid-row: 2;
  padding-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.fast {
  grid-column: 4;
  grid-row: 2;
}

.need_mvp {
  grid-column: 1/span 2;
  grid-row: 3;
}

.fixed_price {
  grid-column: 3;
  grid-row: 3;
}

.block_title {
  margin: 0;
  line-height: 1.5;
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 26px;
}

.block_subtitle {
  font-family: Open Sans Reg, sans-serif;
}

.portfolio_items {
  position: relative;
  overflow: auto;
  padding-top: 40px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.portfolio_items::-webkit-scrollbar {
  display: none;
}

[class^=portfolio-item-] {
  display: flex;
}

.app_icon {
  height: 90px;
  width: 90px;
}

.project_descr {
  margin-left: 6%;
  font-family: Open Sans Reg, sans-serif;
}
.project_descr .descr_wrapper {
  text-align: center;
}
.project_descr span {
  display: block;
  font-size: 14px;
  font-family: Open Sans Reg, sans-serif;
}
.project_descr .project_name, .project_descr #modal-need-mvp-or-demo .project_details, #modal-need-mvp-or-demo .project_descr .project_details {
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 16px;
}
.project_descr .read_more {
  margin-top: 25px;
  padding: 3px 20px;
  background-color: white;
  border-radius: 20px;
  font-family: "Open Sans SemiBold", sans-serif;
}

footer {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background-color: #F1F1F1;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 9;
}

nav {
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
nav a {
  height: 36px;
  margin: auto 0;
}
nav a img {
  height: 100%;
}

.cursor_outer {
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  z-index: 10;
  height: 50px;
  width: 50px;
  pointer-events: none;
}
.cursor_outer::before {
  content: "";
  background-color: #203649;
  width: 8px;
  height: 8px;
  margin-top: 45%;
  margin-left: 45%;
  position: absolute;
  border-radius: 50%;
}

.links_hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #203649;
  opacity: 0.4;
  position: relative;
  z-index: 11;
  pointer-events: none;
  animation: hover-sign 0.2s;
}

.content_hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid white;
  position: relative;
  z-index: 11;
  pointer-events: none;
  animation: hover-sign 0.2s;
}

.nav_hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #800032;
  position: relative;
  z-index: 11;
  pointer-events: none;
  animation: hover-sign 0.2s;
}

.content_hover_inner::before, .content_hover_inner::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  background-color: white;
  transition: transform 0.1s linear;
}
.content_hover_inner::before {
  left: 5%;
  top: 5%;
  transform: translateX(-50%);
}
.content_hover_inner::after {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) rotate(-90deg);
}

.is_transparent::before {
  background-color: transparent;
}

@keyframes hover-sign {
  0% {
    width: 8px;
    height: 8px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
.modal {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  outline: 0;
  display: none;
}

.pop-up {
  width: 1140px;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 50%;
  margin-left: -570px;
  min-height: 90vh;
  background-color: #858585;
  border-radius: 10px 10px 0 0;
  color: white;
  animation: modalDown 0.2s;
}
.pop-up .modal-header {
  position: relative;
  padding: 35px 35px 30px 50px;
  height: 400px;
  width: 100%;
  background-image: url("../images/modals/header-bg.png");
  border-radius: 10px 10px 0 0;
}
.pop-up .modal-header .block_title {
  font-size: 40px;
}
.pop-up .modal-header .block_subtitle {
  font-size: 18px;
}
.pop-up .modal-header .header-content {
  position: absolute;
  bottom: 30px;
  width: 80%;
}

.modal-body {
  width: 100%;
  padding: 50px 50px 100px 50px;
}

.modal-body-block {
  width: 100%;
  display: flex;
}

.icon-wrapper {
  width: 90px;
  padding-right: 25px;
}

.block-icon {
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

.block-content {
  padding-right: 20%;
}

.block-title {
  color: #FFFFFF;
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.block-tags {
  display: flex;
  flex-wrap: wrap;
}
.block-tags span {
  color: #565656;
  font-family: Open Sans SemiBold, sans-serif;
  font-size: 12px;
  padding: 4px 15px;
  margin-right: 3%;
  margin-bottom: 8px;
  background-color: #C8C8C8;
  border-radius: 12px;
}

.block-descr {
  color: #E1E1E1;
  font-family: Open Sans Reg, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}

button {
  width: 120px;
  align-self: center;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-family: Open Sans SemiBold, sans-serif;
  font-size: 16px;
  padding-top: 4px;
  outline: none;
}

hr, #modal-need-mvp-or-demo .hr-2 {
  margin: 29.5px 0 29.5px 90px;
  border-color: #000000;
  height: 1px;
}

.popup-close-btn {
  float: right;
}

.blurred {
  filter: blur(3px);
}

.hidden, .logo_sign {
  display: none;
}

.modal_up {
  animation: modalUp 0.1s;
}

@keyframes modalDown {
  0% {
    top: 70px;
    opacity: 0;
  }
  100% {
    top: 80px;
    opacity: 1;
  }
}
@keyframes modalUp {
  0% {
    top: 80px;
    opacity: 1;
  }
  100% {
    top: 70px;
    opacity: 0;
  }
}
#modal-what-we-cannot .modal-body-block:not(:last-child) {
  margin-bottom: 40px;
}
#modal-what-we-cannot .block-content {
  padding-right: 0;
}
#modal-what-we-cannot .block-content .block-title {
  font-size: 26px;
  margin-bottom: 10px;
}
#modal-what-we-cannot .block-content .block-descr {
  color: #E1E1E1;
  font-family: Open Sans Reg, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

.numeration {
  color: rgba(255, 255, 255, 0.6);
  font-family: Gilroy Bold, sans-serif;
  font-size: 47px;
  font-weight: bold;
}

#modal-how-we-work .modal-body {
  display: flex;
}
#modal-how-we-work .modal-body-block {
  display: block;
}
#modal-how-we-work .modal-body-block:first-child, #modal-how-we-work .modal-body-block:nth-child(5) {
  margin-bottom: 50px;
}
#modal-how-we-work .post-project .modal-body-block:first-child {
  margin-bottom: 0;
}
#modal-how-we-work .block-title {
  font-size: 28px;
  margin-left: 15px;
}
#modal-how-we-work .block-content {
  display: flex;
  padding-right: 0;
  margin-top: 15px;
}
#modal-how-we-work .timing, #modal-how-we-work .design {
  display: flex;
  flex-direction: column;
  background: #D8D8D8;
  border-radius: 10px;
  height: 100px;
  width: 133px;
  color: #737373;
  font-family: Open Sans SemiBold, sans-serif;
  font-size: 12px;
  font-weight: 600;
}
#modal-how-we-work .term {
  background: #F0F0F0;
  border-radius: 10px 10px 0 0;
  height: 25px;
  width: 133px;
  padding-top: 5px;
  padding-left: 30px;
  position: relative;
}
#modal-how-we-work .term::before {
  content: url("../images/modals/calendar.png");
  position: absolute;
  bottom: -2px;
  left: 8px;
}
#modal-how-we-work .timing-name {
  margin: auto;
  text-align: center;
}
#modal-how-we-work .descr-wrapper {
  margin-left: 25px;
  margin-top: auto;
}
#modal-how-we-work .block-subtitle {
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  left: 25px;
}
#modal-how-we-work .block-subtitle::before {
  content: url("../images/modals/wagon.png");
  position: absolute;
  bottom: -6px;
  left: -30px;
}
#modal-how-we-work .clock::before {
  content: url("../images/modals/clock.png");
  position: absolute;
  bottom: -5px;
  left: -30px;
}
#modal-how-we-work .circle::before {
  content: url("../images/modals/cycle.png");
  position: absolute;
  bottom: -5px;
  left: -30px;
}
#modal-how-we-work .block-descr {
  font-family: Open Sans Reg, sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin-top: 10px;
}
#modal-how-we-work .post-project-timing {
  width: 133px;
}
#modal-how-we-work .post-project-timing .timing-name {
  width: 133px;
}
#modal-how-we-work .design {
  height: 150px;
}
#modal-how-we-work .development {
  height: 250px;
}
#modal-how-we-work .cycle {
  border: 2px solid #5D5D5D;
  border-right: none;
  height: 1250px;
  width: 50px;
  position: relative;
  top: 40px;
  align-self: center;
}
#modal-how-we-work .cycle img {
  position: relative;
  top: -9px;
}

.switcher {
  border-radius: 35px;
  display: flex;
  height: 35px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
}

.demo-switcher, .mvp-switcher {
  flex: 1;
  margin: auto;
  border: 2px solid #E6E6E6;
}

.demo-switcher {
  background: #E6E6E6;
  border-radius: 35px 0 0 35px;
  color: rgba(0, 0, 0, 0.5);
}

.mvp-switcher {
  border-radius: 0 35px 35px 0;
}

.proto-body-inner {
  display: flex;
  justify-content: space-between;
}

.body-inner-left {
  width: 50%;
}

.body-inner-right {
  width: 45%;
}

.proto, .proto-with-ui {
  margin-top: 50px;
  background: #999999;
}

.proto-body {
  padding: 25px 25px 50px 25px;
}

.quote {
  padding-top: 11px;
  padding-bottom: 11px;
  background: #FFFFFF;
  color: #565656;
  font-family: Open Sans SemiBold, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: center;
  margin: auto;
}

.proto-name {
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-right: 25px;
}

.notes span {
  color: rgba(0, 0, 0, 0.35);
  font-family: Open Sans Reg, sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin-right: 25px;
  position: relative;
  left: 20px;
}
.notes span::before {
  content: url("../images/modals/nb.png");
  position: absolute;
  bottom: -9px;
  left: -27px;
}

.case-study-title {
  color: #FFFFFF;
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 18px;
}

#modal-need-mvp-or-demo .timing, #modal-need-mvp-or-demo #modal-how-we-work .design, #modal-how-we-work #modal-need-mvp-or-demo .design {
  display: flex;
  flex-direction: column;
  background: #D8D8D8;
  border-radius: 10px;
  height: 100px;
  width: 133px;
  color: #737373;
  font-family: Open Sans SemiBold, sans-serif;
  font-size: 12px;
  font-weight: 600;
}
#modal-need-mvp-or-demo .term {
  background: #F0F0F0;
  border-radius: 10px 10px 0 0;
  height: 25px;
  width: 133px;
  padding-top: 5px;
  padding-left: 30px;
  position: relative;
}
#modal-need-mvp-or-demo .term::before {
  content: url("../images/modals/calendar.png");
  position: absolute;
  bottom: -2px;
  left: 8px;
}
#modal-need-mvp-or-demo .timing-name {
  margin: auto;
  text-align: center;
}
#modal-need-mvp-or-demo .numeration {
  font-size: 28px;
}
#modal-need-mvp-or-demo .block-title {
  font-size: 20px;
  margin-left: 10px;
}
#modal-need-mvp-or-demo .block-descr {
  margin-bottom: 25px;
}
#modal-need-mvp-or-demo hr, #modal-need-mvp-or-demo .hr-2 {
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 1px;
  width: 100%;
  margin: 24.5px 0 15px 0;
}
#modal-need-mvp-or-demo .hr-2 {
  margin-top: 3px;
}
#modal-need-mvp-or-demo .block-tags span {
  margin-bottom: 15px;
  color: #565656;
}
#modal-need-mvp-or-demo .timing-part {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
}
#modal-need-mvp-or-demo .timing-part .timing, #modal-need-mvp-or-demo .timing-part #modal-how-we-work .design, #modal-how-we-work #modal-need-mvp-or-demo .timing-part .design {
  margin-bottom: 20px;
}
#modal-need-mvp-or-demo .timing-part .ui-development {
  height: 220px;
}
#modal-need-mvp-or-demo .timing-part .development {
  height: 145px;
}
#modal-need-mvp-or-demo .project_name, #modal-need-mvp-or-demo .project_details {
  color: #E1E1E1;
  font-family: Open Sans Reg, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
#modal-need-mvp-or-demo .project_details {
  font-size: 16px;
}
#modal-need-mvp-or-demo .app_icon {
  height: 65px;
  width: 65px;
}
#modal-need-mvp-or-demo .project_descr {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-left: 15px;
  flex: 1;
}
#modal-need-mvp-or-demo .descr_wrapper {
  text-align: start;
}
#modal-need-mvp-or-demo .read_more {
  width: auto;
  margin-top: 5px;
  height: 25px;
  padding: 3px 30px;
  background: rgba(0, 0, 0, 0.25);
}
#modal-need-mvp-or-demo .active {
  background: #E6E6E6;
  color: rgba(0, 0, 0, 0.5);
}
#modal-need-mvp-or-demo .transparent {
  background-color: transparent;
}

.case-study {
  display: flex;
}

#modal-for-fixed-price .block-descr {
  margin-right: 85px;
  display: block;
}
#modal-for-fixed-price .cases {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#modal-for-fixed-price .cases span {
  display: block;
}
#modal-for-fixed-price .case-block {
  width: 30%;
}
#modal-for-fixed-price .pic {
  width: 100%;
  margin-bottom: 25px;
}
#modal-for-fixed-price .app_icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
#modal-for-fixed-price .descr_wrapper {
  flex: 1;
  margin: auto 15px;
}
#modal-for-fixed-price .block-content {
  padding: 0;
  margin-bottom: 40px;
}
#modal-for-fixed-price .read_more {
  background: #FFFFFF;
  border-radius: 22px;
  color: #203649;
  font-family: Open SansSemiBold, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 11px 34px;
  width: fit-content;
  margin: 0 auto;
}
#modal-for-fixed-price .block-title {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
