main {
  grid-auto-columns: 17%;
}

.who_we_are {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.can {
  grid-column: 4 / span 2;
  grid-row: 1;
}

.cannot {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.how {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.portfolio {
  grid-column: 3 / span 3;
  grid-row: 2;
}

.fast {
  grid-column: 4 / span 2;
  grid-row: 3;
}

.need_mvp {
  grid-column: 1 / span 2;
  grid-row: 4;
}

.fixed_price {
  grid-column: 3 / span 3;
  grid-row: 4;
}

.app_icon {
  height: 50px;
  width: 50px;
}

.project_descr {
  width: 90%;
  display: flex;
  justify-content: space-between;

  .descr_wrapper {
    display: flex;
    flex-direction: column;
  }

  .project_details, .project_name {
    flex: 1;
  }

  .read_more {
    width: 94px;
    margin: auto 0;
  }
}

nav {
  width: 616px;
}

.block_title {
  font-size: 22px;
}

.who_we_are .block_title {
    font-size: 24px;
}

main {
  & > * {
    padding: 40px;
    padding-bottom: 30px;
  }
}

.portfolio {
  padding-top: 30px;
  padding-bottom: 40px;
}

.blog-slider {
  padding-top: 30px;
  &__item {
    grid-template-rows: repeat(4, 50px);
    grid-auto-columns: 100%;
    grid-gap: 30px;
  }

  &__pagination {
    bottom: 10px;
  }
}

// Modal windows
.modal {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  outline: 0;
  display: none;
}

.pop-up {
  width: calc(1024px - (100vw - 100%));
  top: 0;
  left: 50%;
  margin-left: calc(-512px + (100vw - 100%)/2);
  height: auto;
  min-height: 100vh;
}

.modal-body {
  padding: 50px 30px 100px 30px;
}

.block-content {
  padding-right: 12%;
}

@keyframes modalDown {
  0%   { top: 10px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

@keyframes modalUp {
  0%   { top: 0; opacity: 1; }
  100% { top: 10px; opacity: 0; }
}

#modal-how-we-work {
  .cycle {
    width: 30px;

    img {
      width: 28px;
      top: -11px;
    }
  }
}

#modal-need-mvp-or-demo {
  .modal-body {
    padding: 50px 0 100px 0;
  }

  .modal-body-mvp {
    @extend .modal-body;
  }
}


