@font-face {
  font-family: Gilroy Reg;
  src: url("../fonts/gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-family: Gilroy SemiBold;
  src: url("../fonts/gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: Gilroy Bold;
  src: url("../fonts/gilroy/Gilroy-Bold.ttf");
}
.flex-pattern, .slider_switcher, .portfolio_header, header, nav {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-family: Gilroy Reg, sans-serif;
  color: #203649;
}

header, nav {
  height: 100px;
  width: 100%;
  background-color: #E7E7E7;
}

header > *, nav > * {
  margin: auto 50px;
}

.resources_links {
  display: flex;
}
.resources_links a {
  margin-left: 25px;
}

main {
  margin: 50px;
  display: grid;
  grid-auto-rows: minmax(450px, auto);
  grid-auto-columns: 23%;
  grid-row-gap: 50px;
  justify-content: space-between;
}
main > div {
  padding: 50px;
  background-color: #F1F1F1;
}
main > div:not(.portfolio) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.who_we_are {
  grid-column: 1/span 2;
  grid-row: 1;
}

.can {
  grid-column: 3;
  grid-row: 1;
}

.cannot {
  grid-column: 4;
  grid-row: 1;
}

.how {
  grid-column: 1;
  grid-row: 2;
}

.portfolio {
  grid-column: 2/span 2;
  grid-row: 2;
}

.fast {
  grid-column: 4;
  grid-row: 2;
}

.need_mpv {
  grid-column: 1/span 2;
  grid-row: 3;
}

.fixed_price {
  grid-column: 3;
  grid-row: 3;
}

.block_title {
  margin-bottom: 3%;
  line-height: 1.5;
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.pop-up {
  width: 55%;
  position: absolute;
  top: 125px;
  left: 20%;
  min-height: 80vh;
  padding: 50px;
  background-color: white;
  border: solid 2px #E7E7E7;
  border-radius: 10px;
}

.popup-close-btn {
  float: right;
  cursor: pointer;
}

.hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blurred {
  filter: blur(3px);
}

.hidden {
  display: none;
}

.portfolio_header {
  padding-bottom: 50px;
}
.portfolio_header img {
  height: 30px;
  display: block;
  cursor: pointer;
}

.portfolio_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
}
.portfolio_items img {
  float: left;
  cursor: pointer;
}

.project_descr {
  float: left;
  margin-left: 10%;
  margin-top: 1%;
  line-height: 2;
}
.project_descr span {
  display: block;
  cursor: pointer;
}
.project_descr .project_name {
  font: 18px "Gilroy SemiBold";
}
.project_descr .read_more {
  margin-top: 20%;
  padding: 3px 0 3px 12px;
  background-color: white;
  border-radius: 20px;
  font: 14px "Gilroy SemiBold";
}

.slider_switcher {
  width: 17%;
}

footer {
  height: 100px;
  width: 100%;
  position: sticky;
  bottom: 0;
}

nav {
  justify-content: space-around;
}
nav a {
  margin: auto;
  padding-bottom: 5px;
  position: relative;
  font-family: Gilroy Reg, sans-serif;
  font-size: 18px;
  color: #203649;
  text-decoration: none;
}

.nav-item-1::before {
  content: url("../images/nav_icons/1.svg");
  position: absolute;
  left: -60%;
  bottom: -3px;
}

.nav-item-2::before {
  content: url("../images/nav_icons/2.svg");
  position: absolute;
  left: -60%;
  bottom: -3px;
}

.nav-item-3::before {
  content: url("../images/nav_icons/3.svg");
  position: absolute;
  left: -60%;
  bottom: -3px;
}

.nav-item-4::before {
  content: url("../images/nav_icons/4.svg");
  position: absolute;
  left: -60%;
  bottom: -3px;
}

.nav-item-1::before {
  left: -40%;
}

/*# sourceMappingURL=style.css.map */
