@font-face {
  font-family: Gilroy Reg;
  src: url("../fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy SemiBold;
  src: url("../fonts/gilroy/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: Gilroy Bold;
  src: url("../fonts/gilroy/Gilroy-Bold.ttf");
}

$gap-size: 50px;
$colors: (
        bg-dark: #E7E7E7,
        bg-light: #F1F1F1,
        text: #203649
);

.flex-pattern {
  display: flex;
  justify-content: space-between;
}

@function color($color-name) {
  @return map_get($colors, $color-name);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-family: Gilroy Reg, sans-serif;
  color: color(text);
}

// Header
header {
  height: $gap-size * 2;
  width: 100%;
  background-color: color(bg-dark);
  @extend .flex-pattern;
}

header > * {
  margin: auto $gap-size;
}

.resources_links {
  display: flex;

  a {
    margin-left: $gap-size / 2;
  }
}

// Main
main {
  margin: $gap-size;
  display: grid;
  grid-auto-rows: minmax(450px, auto);
  grid-auto-columns: 23%;
  grid-row-gap: $gap-size;
  justify-content: space-between;

  & > div {
    padding: $gap-size;
    background-color: color(bg-light);

    &:not(.portfolio) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

.who_we_are {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.can {
  grid-column: 3;
  grid-row: 1;
}

.cannot {
  grid-column: 4;
  grid-row: 1;
}

.how {
  grid-column: 1;
  grid-row: 2;
}

.portfolio {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.fast {
  grid-column: 4;
  grid-row: 2;
}

.need_mpv {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.fixed_price {
  grid-column: 3;
  grid-row: 3;
}

.block_title {
  margin-bottom: 3%;
  line-height: 1.5;
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 30px;
  cursor: pointer;
}

// Pop-up
.pop-up {
  width: 55%;
  position: absolute;
  top: $gap-size * 2.5;
  left: 20%;
  min-height: 80vh;
  padding: $gap-size;

  background-color: white;
  border: solid 2px color(bg-dark);
  border-radius: 10px;
}

//.popup-title {
//  @extend .block_title;
//}

.popup-close-btn {
  float: right;
  cursor: pointer;
}

.hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blurred {
  filter: blur(3px);
}

.hidden {
  display: none;
}

// Portfolio block
.portfolio_header {
  padding-bottom: $gap-size;
  @extend .flex-pattern;

  img {
    height: 30px;
    display: block;
    cursor: pointer;
  }
}

.portfolio_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: $gap-size;

  img {
    float: left;
    cursor: pointer;
  }
}

.project_descr {
  float: left;
  margin-left: 10%;
  margin-top: 1%;
  line-height: 2;

  span {
    display: block;
    cursor: pointer;
  }

  .project_name {
    font:  18px "Gilroy SemiBold";
  }

  .read_more {
    margin-top: 20%;
    padding: 3px 0 3px 12px;
    background-color: white;
    border-radius: 20px;
    font:  14px "Gilroy SemiBold";
  }
}

.slider_switcher {
  width: 17%;
  @extend .flex-pattern;
}

// Footer
footer {
  height: $gap-size * 2;
  width: 100%;
  position: sticky;
  bottom: 0;
}

nav {
  @extend header;
  justify-content: space-around;

  a {
    margin: auto;
    padding-bottom: 5px;
    position: relative;
    font-family: Gilroy Reg, sans-serif;
    font-size: 18px;
    color: color(text);
    text-decoration: none;
  }
}

$class-slug: nav-item;
@for $i from 1 through 4 {
  .#{$class-slug}-#{$i}::before {
    content: url("./images/nav_icons/#{$i}.svg");
    position: absolute;
    left: -60%;
    bottom: -3px;
  }
}

.nav-item-1::before {
  left: -40%;
}

