@font-face {
  font-family: Gilroy Reg;
  src: url("../fonts/gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-family: Gilroy SemiBold;
  src: url("../fonts/gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: Gilroy Bold;
  src: url("../fonts/gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Open Sans Reg;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open Sans SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
* {
  box-sizing: border-box;
  cursor: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Gilroy Reg, sans-serif;
  color: #203649;
}

h2 {
  font-family: "Gilroy Bold", sans-serif;
}

h3 {
  margin: 0;
  font-family: "Gilroy SemiBold", sans-serif;
}

p, span, a {
  font-family: "Open Sans Reg", sans-serif;
}

.flex-pattern, nav, footer, header {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100%;
  max-width: 1920px;
  padding: 50px;
  padding-bottom: 0;
  margin: 0 auto;
}

.main_logo {
  height: 40px;
}

.resources_links {
  display: flex;
  height: 30px;
}
.resources_links a:not(:first-child) {
  margin-left: 25px;
}

.main_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 1920px;
  padding: 50px;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 450px;
  grid-auto-columns: 22.393%;
  grid-row-gap: 50px;
  justify-content: space-between;
}
main > * {
  padding: 50px;
  padding-bottom: 40px;
  background-color: #F1F1F1;
}
main > *:not(.portfolio) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.who_we_are {
  grid-column: 1/span 2;
  grid-row: 1;
}
.who_we_are .block_title {
  font-size: 40px;
}

.can {
  grid-column: 3;
  grid-row: 1;
}

.cannot {
  grid-column: 4;
  grid-row: 1;
}

.how {
  grid-column: 1;
  grid-row: 2;
}

.portfolio {
  grid-column: 2/span 2;
  grid-row: 2;
  padding-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.fast {
  grid-column: 4;
  grid-row: 2;
}

.need_mpv {
  grid-column: 1/span 2;
  grid-row: 3;
}

.fixed_price {
  grid-column: 3;
  grid-row: 3;
}

.block_title {
  margin: 0;
  line-height: 1.5;
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 26px;
}

.block_subtitle {
  font-family: Open Sans Reg, sans-serif;
}

.modal {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  outline: 0;
  display: none;
}

.pop-up {
  width: 55%;
  position: absolute;
  z-index: 1;
  top: 12vh;
  left: 23%;
  min-height: 90vh;
  padding: 50px;
  background-color: white;
  border: solid 2px #E7E7E7;
  border-radius: 10px;
  animation: modalDown 0.2s;
}
.pop-up .block_descr {
  position: relative;
  font-family: Open Sans Reg, sans-serif;
}

.popup-close-btn {
  margin-left: 10%;
  float: right;
}

.hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blurred {
  filter: blur(3px);
}

.hidden, .logo_sign {
  display: none;
}

.modal_up {
  animation: modalUp 0.1s;
}

@keyframes modalDown {
  0% {
    top: 10vh;
    opacity: 0;
  }
  100% {
    top: 12vh;
    opacity: 1;
  }
}
@keyframes modalUp {
  0% {
    top: 12vh;
    opacity: 1;
  }
  100% {
    top: 10vh;
    opacity: 0;
  }
}
.portfolio_items {
  position: relative;
  overflow: auto;
  padding-top: 40px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.portfolio_items::-webkit-scrollbar {
  display: none;
}

[class^=portfolio-item-] {
  display: flex;
}

.app_icon {
  height: 90px;
  width: 90px;
}

.project_descr {
  margin-left: 6%;
  font-family: Open Sans Reg, sans-serif;
}
.project_descr .descr_wrapper {
  text-align: center;
}
.project_descr span {
  display: block;
  font-size: 14px;
  font-family: Open Sans Reg, sans-serif;
}
.project_descr .project_name {
  font-family: Gilroy SemiBold, sans-serif;
  font-size: 16px;
}
.project_descr .read_more {
  margin-top: 25px;
  padding: 3px 20px;
  background-color: white;
  border-radius: 20px;
  font-family: "Open Sans SemiBold", sans-serif;
}

footer {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background-color: #F1F1F1;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 9;
}

nav {
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
nav a {
  height: 36px;
  margin: auto 0;
}
nav a img {
  height: 100%;
}

.cursor_outer {
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  z-index: 10;
  height: 50px;
  width: 50px;
  pointer-events: none;
}
.cursor_outer::before {
  content: "";
  background-color: #203649;
  width: 8px;
  height: 8px;
  margin-top: 45%;
  margin-left: 45%;
  position: absolute;
  border-radius: 50%;
}

.links_hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #203649;
  opacity: 0.4;
  position: relative;
  z-index: 11;
  pointer-events: none;
  animation: hover-sign 0.2s;
}

.content_hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid white;
  position: relative;
  z-index: 11;
  pointer-events: none;
  animation: hover-sign 0.2s;
}

.nav_hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #800032;
  position: relative;
  z-index: 11;
  pointer-events: none;
  animation: hover-sign 0.2s;
}

.content_hover_inner::before, .content_hover_inner::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  background-color: white;
  transition: transform 0.1s linear;
}
.content_hover_inner::before {
  left: 5%;
  top: 5%;
  transform: translateX(-50%);
}
.content_hover_inner::after {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) rotate(-90deg);
}

.is_transparent::before {
  background-color: transparent;
}

@keyframes hover-sign {
  0% {
    width: 8px;
    height: 8px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
